[submodule "user/vim/bundle/Vundle.vim"]
	path = user/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "user/dircolors"]
	path = user/dircolors
	url = https://github.com/seebi/dircolors-solarized.git
